<footer>
  <div class="container">
    <p>
      The app uses open API and I want to give credit to the creators of
      <a href="https://openlibrary.org/dev/docs/api/covers">this API</a>
    </p>
    <p class="footer">Taru 2025 Made with ❤️</p>
  </div>
</footer>
