<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book notes</title>
    <!-- reference to external style sheet. Included in head-section so that css is loaded before the content is rendered -->
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
  </head>
  <header>
    <div class="container">
      <h1>
        "A reader lives a thousand lives before he dies. The man who never reads
        lives only one." - George R.R. Martin
      </h1>
    </div>
  </header>
</html>
