<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book notes</title>
    <!-- reference to external style sheet. Included in head-section so that css is loaded before the content is rendered -->
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
  </head>
  <body>
    <!--add header-->
    <%- include("partials/header.ejs") %>

    <!--main part of the page-->
    <div class="container book">
      <h2>This is a title</h2>
      <h3>This is a date</h3>
      <div class="container notes-image">
        <div>
          <img
            src="https://covers.openlibrary.org/b/isbn/9780385533225-M.jpg"
          />
        </div>
        <div>
          <p class="note">
            This is the note lorem ipsun yada yada äasäd kaäsd akasdäk asadkäa
            asdköaä käasdkäa k asdkaä käöadkaöäk aöskakd kaskdöak aösdka ojoasda
            asda
          </p>
        </div>
      </div>
      <button class="button" type="button">Edit note</button>
    </div>

    <!--add footer-->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
