<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book notes</title>
    <!-- reference to external style sheet. Included in head-section so that css is loaded before the content is rendered -->
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
  </head>
  <body>
    <!--add header-->
    <%- include("partials/header.ejs") %>

    <!--main part of the page -->
    <% if(locals.bookNotes) { bookNotes.forEach(note => { %>
    <div class="container book">
      <h2><%= note.title %></h2>
      <div class="container notes-image">
        <div>
          <img
            src="https://covers.openlibrary.org/b/isbn/9780385533225-M.jpg"
          />
        </div>
        <div>
          <p class="note"><%= note.note %></p>
        </div>
      </div>
      <button class="button" type="button">Edit note</button>
    </div>

    <% }); } else { %>
    <p>Add a new note comes here</p>
    <% } %>

    <!--add footer-->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
