<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book notes</title>
    <!-- reference to external style sheet. Included in head-section so that css is loaded before the content is rendered -->
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
  </head>
  <body>
    <!--add header-->
    <%- include("partials/header.ejs") %>
    <div class="container">
      <form action="/add" method="POST">
        <input
          class="textbox"
          type="text"
          name="isbn"
          placeholder="ISBN"
        /><br />
        <input
          class="textbox"
          type="text"
          name="title"
          placeholder="Title"
        /><br />
        <textarea
          class="textbox"
          name="largeText"
          rows="10"
          cols="50"
          wrap="soft"
        >
Note</textarea
        >
        <br />
        <button type="submit">Add new book note</button>
      </form>
    </div>

    <!--add footer-->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
