<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book notes</title>
    <!-- reference to external style sheet. Included in head-section so that css is loaded before the content is rendered -->
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
  </head>
  <body>
    <!--add header-->
    <%- include("partials/header.ejs") %>

    <!--add footer-->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
